#block-responsive-menu-modes-responsive-menu-modes-navigation .nav {
	margin:0;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li { 
	list-style:none; 
	float:left; 
	padding: 10px 12px; 
	display:block; 
	text-align:left; 
	position:relative;
	width: inherit;
	border:none;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li a { 
	font-family: Arial,Helvetica,sans-serif; 
	font-weight:bold; 
	text-decoration:none; 
	font-size:12px; 
	text-transform:uppercase;
	
}
#block-responsive-menu-modes-responsive-menumodes--navigation .nav {
	margin-top:0;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation .nav ul.menu li a {
	white-space:normal;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li > ul {
	position: absolute; 
	left:10px; 
	/*width:10em; */
	top:28px; 
	background-color:#FFFFFF; 
	z-index: 999; 
	display:none;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li ul li a {
	color:#000;
}	
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li ul li ul {
	left: 120px; 
	top:0px;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li ul li {
	display:block; 
	width:100%; 
	float:left;
}	
/*ul.menu li ul li a {
	color:#FFFFFF; 
}*/
#block-responsive-menu-modes-responsive-menu-modes-navigation ul.menu li ul.active-ul {
	display:block;
}
#block-responsive-menu-modes-responsive-menu-modes-navigation .responsive-menu-nav-caret {
	float:right;
	display:block;
	content: ' ';
	width: 0; 
	height: 0;
	margin: 7px 25px 0 6px; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	border-bottom: none;
}

#block-responsive-menu-modes-responsive-menu-modes-navigation .active-ul .responsive-menu-nav-caret {
	border-top: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}